/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
@font-face {
	font-family: Magra;
	src: url("../fonts/Magra-Bold.ttf");
}
@font-face {
	font-family: RedHatText;
	src: url("../fonts/RedHatText.ttf");
}
@font-face {
	font-family: Aleo;
	src: url("../fonts/Aleo-Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: Aleo;
	src: url("../fonts/Aleo-Regular.ttf");
	font-weight: normal;
}
@font-face {
	font-family: Aleo;
	src: url("../fonts/Aleo-Italic.ttf");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: Aleo;
	src: url("../fonts/Aleo-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}
html {
	scroll-behavior: smooth;
}
body {
	max-width: 1440px;
	margin: 0 auto;
}
.header--mobile,
.burger__menu,
.slider-leftbar,
.slider-rightbar {
	display: none;
}
.header {
	width: 100%;
	height: 90px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background: rgba(242, 120, 92, 0.7);
	color: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
	position: relative;
	z-index: 2;
}
.header__title {
	font-family: Magra, sans-serif;
	font-size: 32px;
	position: relative;
	left: -2%;
}
.header__title::before {
	content: '';
	display: inline-block;
	width: 30px;
	height: 30px;
	background: no-repeat 0 /30px 30px url(../ico/favicon.svg);
}
.header__menu {
	position: relative;
	left: -1.18%;
	flex: 0 1 527px;
}
.header__list {
	display: flex;
	justify-content: space-between;
	gap: 7.97%;
}
.menu__link,
.header__button {
	font-family: RedHatText, sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	border: none;
	transition: 0.5s ease;
}
.menu__link:hover {
	color: #0D606F;
}
.header__button {
	display: inline-block;
	width: 103px;
	height: 41px;
	background: #0D606F;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	text-align: center;
	line-height: 41px;
	position: relative;
	left: 30px;
}
.header__button:hover,
.form__button:hover,
.button:hover {
	color: #F2785C;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7), 0px 2px 3px rgba(13, 96, 111, 0.5);
}
.header__button:active,
.form__button:active,
.button:active {
	top: 3px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7), 0px 0px 3px rgba(13, 96, 111, 0.5);
	transition: none;
}
.prewiev {
	width: 100%;
	height: 765px;
	background: top url('../img/top-background.jpg') no-repeat;
	transform: translateY(-90px);
}
.prewiev__container {
	position: relative;
	top: 122px;
	left: 120px;
	width: 892px;
	height: 422px;
}
.prewiev__header {
	margin: 0;
	font-family: Aleo, sans-serif;
	font-weight: bold;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
}
.prewiev__text {
	font-family: Aleo, sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin: 3.9% 0px 4.9% 0px;
}
.form {
	width: 100%;
	height: 22.51%;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 16px;
	display: flex;
	align-items: center;
	gap: 5%;
}
.form__search {
	margin: 0 0 0 4.59%;
	flex: 0 1 62.78%;
	font-family: Aleo, sans-serif;
	font-style: italic;
	font-size: 24px;
	line-height: 28px;
	border: none;
	background: none;
}
.form__search::placeholder {
	color: #F2785C;
} 
.form__button {
	flex: 0 1 25.56%;
	height: 62.1%;
	font-family: RedHatText, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	background: #0D606F;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	border: none;
	transition: 0.5s ease;
}
.steps {
	width: 81.74%;
	margin: 0 auto;
	position: relative;
	top: -0.5em;
}
.steps__header {
	margin: 0;
	text-align: center;
	font-family: RedHatText, sans-serif;
	font-size: 40px;
	line-height: 53px;
	color: #F2785C;
}
.steps__tips {
	display: flex;
	margin: 40px 0px 0px 0px;
	height: 154px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.tips__content {
	display: flex;
	flex-direction: column;
	gap: 20%;
}
.image-container {
	width: 100px;
	height: 100px;
	background: #F2785C;
	border-radius: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
}
.tips__text {
	font-family: Aleo, sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #0D606F;
}

.destinations {
	width: 100%;
	position: relative;
	top: 6.3em;
}
.destination__header {
	font-family: RedHatText, sans-serif;
	font-size: 40px;
	line-height: 53px;
	color: #F2785C;
	margin: 0;
	text-align: center;
}
.slider-hider {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
}
.destinations__slider {
	width: 175%;
	margin-top: 3%;
	display: flex;
	gap: 2.38%;
	align-items: center;
}

.slider {
	position: relative;
}
.slider__image {
	border-radius: 16px;
	width: 100%;
}
.slider__text {
	position: absolute;
	bottom: 38px;
	left: 15px;
	font-family: RedHatText, sans-serif;
	font-size: 32px;
	line-height: 42px;
	color: #FFFFFF;
}

.slider__radio {
	width: 80px;
	height: 20px;
	margin: 0 auto;
	display: flex;
	gap: 10px;
	position: relative;
	top: 28px;
}
.label {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: rgba(242, 120, 92, 0.5);
	border-radius: 50%;
	transition: 0.5s;
}
.radio:checked + .label {
	background: #F2785C;
}
.label:hover {
	box-shadow: 0px 0px 5px #ff522c;
}
.radio {
	display: none;
}
.button {
	display: block;
	width: 228px;
	height: 59px;
	background: #0D606F;
	box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
	border-radius: 10px;
	text-align: center;
	font-family: RedHatText, sans-serif;
	font-size: 24px;
	line-height: 59px;
	color: #FFFFFF;
	text-decoration: none;
	position: relative;
	top: 2.8em;
	padding: 0 0 0 50px;
	margin: 0 auto;
	border: none;
	transition: 0.5s ease;
}
.button:hover.button:before {
	content: '';
	display: inline-block;
	background: url(../ico/arrow-color.png) center/100% no-repeat;
	height: 40px;
	width: 40px;
}
.button::before {
	content: '';
	background: url(../ico/arrow.svg) center/100% no-repeat;
	position: absolute;
	height: 40px;
	width: 40px;
	top: 9.5px;
	left: 31px;
	transition: 0.3s ease;
}
.stories {
	width: 100%;
	height: 1362px;
	margin: 16.8em auto 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
				url(../img/bottom-background.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0px 92px;
}
.stories__header {
	font-family: RedHatText, sans-serif;
	font-size: 40px;
	line-height: 53px;
	color: #F2785C;
	margin: 0;
}
.stories__all {
	width: 83.4%;
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-top: 5.6em;
}
.storycard {
	display: flex;
	gap: 3.33%;
}
.storycard__img {
	flex: 0 1 33.333%;
	max-height: 250px;
	border-radius: 16px;
	box-shadow: 0px 4px 4px #0D606F;
}
.storycard__text {
	flex: 0 1 66.666%;
	display: flex;
	flex-direction: column;
}
.storycard__text--main {
	margin: 0 0 15px;
	display: inline-block;
	font-family: Aleo, sans-serif;
	font-size: 35px;
	line-height: 42px;
	font-weight: normal;
	color: #0D606F;
	flex: 0 1 16.8%;
	max-height: 42px;
	white-space: nowrap;
	overflow: hidden;
}
.storycard__text--basic {
	margin: 0;
	font-family: Aleo, sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #0D606F;
	flex: 0 1 73.6%;
	max-height: 145px;
	overflow: hidden;
}
.storycard__text--basic ~ a:visited,
.storycard__text--basic ~ a {
	margin: 10px 0 0 0;
	font-family: Aleo, sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #0D606F;
	font-weight: bold;
	text-decoration: underline;
}
.story-button {
	transform: translateY(-42%);
}
.footer-container {
	min-height: 61px;
	width: 100%
}
.footer {
	height: 61px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: url(../img/bottom-background.jpg) center bottom/100%;
	padding: 0 11% 0 0;
	
}
.left {
	padding: 0 0 0 9%;
}
.right {
	display: flex;
	transform: translateX(30%);
	gap: 20px;
	align-items: center;
	margin: 0 4px 0 0;
}
.right li {
	list-style: none;
}
.footer__text {
	font-family: RedHatText, sans-serif;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	margin: 0;
	padding: 0 0 0 42px;
}
/* Стили для расширений 768-1055 пикселей */
@media (min-width: 768px) and (max-width: 1055px) {
	body {
		max-width: 100%;
	}
	.header {
		width: 100%;
		height: 80px;
		justify-content: center;
		padding: 0 10px;
	}
	.header__title {
		font-size: 24px;
		position: static;
		flex: 0 1 15%;
	}
	.header__title::before {
		content: '';
		display: inline-block;
		width: 20px;
		height: 20px;
		background: no-repeat 0 /20px 20px url(../ico/favicon.svg);
	}
	.header__menu {
		position: static;
		flex: 0 1 60%;
	}
	.header__list {
		align-items: center;
		gap: 5%;
		text-align: center;
	}
	.prewiev {
		height: 500px;
		transform: translateY(-80px);
	}
	.prewiev__container {
		top: 122px;
		left: 60px;
		width: 80%;
	}
	.prewiev__header {
		font-size: 60px;
		line-height: 80px;
		color: #FFFFFF;
	}
	.prewiev__text {
		font-size: 18px;
		line-height: 20px;
		font-weight: normal;
		color: #FFFFFF;
		margin: 3% 0px 4% 0px;
	}
	.form {
		height: 20%;
	}
	.form__button {
		flex: 0 1 25%;
		height: 55%;
		font-size: 20px;
	}
	.steps {
		width: 81.74%;
		margin: 0 auto;
		position: static;
	}
	.steps__header {
		font-size: 30px;
		line-height: 43px;
	}
	.steps__tips {
		margin: 30px 0px 0px 0px;
		height: 100%;
		justify-content: center;
		gap: 30px;	
		column-gap: 80px;
	}
	.tips__content {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.destinations {
		top: 5em;
	}
	.destination__header {
		font-size: 30px;
		line-height: 43px;
	}
	.slider__text {
		bottom: 20px;
	}
	.button {
		top: 2em;
	}
	.stories {
		height: 1100px;
		margin: 14em auto 0;
		background-position: 0px 50px;
	}
	.stories__header {
		font-size: 30px;
		line-height: 43px;
	}
	.stories__all {
		margin-top: 3em;
	}
	.storycard {
		display: flex;
		gap: 3.33%;
	}
	.storycard__img {
		flex: 0 1 33.333%;
		max-height: 200px;
		border-radius: 16px;
		box-shadow: 0px 4px 4px #0D606F;
	}
	.storycard__text {
		flex: 0 1 66.666%;
		max-height: 200px;
	}
	.storycard__text--main {
		font-size: 25px;
		line-height: 35px;
	}
	.storycard__text--basic {
		font-size: 18px;
		line-height: 20px;
	}
	.story-button {
		transform: translateY(-42%);
	}	
}
/* Стили для расширений от 391 до 767 пикселей */
@media (min-width: 391px) and (max-width: 767px){
	body {
		max-width: 100%;
	}
	.header {
		width: 100%;
		height: 60px;
		justify-content: space-evenly;
		padding: 0 5px;
	}
	.header__title {
		display: none;
	}
	.header__menu {
		position: static;
		flex: 0 1 60%;
	}
	.header__list {
		display: flex;
		justify-content: space-between;
		gap: 5%;
	}
	.menu__item {
		text-align: center;
	}
	.menu__link,
	.header__button {
		font-size: 10px;
		align-self: center;
		line-height: 8px;
	}
	.header__button {
		width: 80px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		position: static;
	}
	.prewiev {
		height: 400px;
		transform: translateY(-60px);
	}
	.prewiev__container {
		top: 90px;
		left: 20px;
		width: 80%;
	}
	.prewiev__header {
		font-size: 30px;
		line-height: 50px;
	}
	.prewiev__text {
		font-size: 15px;
		line-height: 20px;
		font-weight: normal;
		color: #FFFFFF;
		margin: 10% 0px 8% 0px;
	}
	.form {
		height: 15%;
	}
	.form__search {
		margin: 0 0 0 4.59%;
		flex: 0 1 60%;
		font-size: 12px;
		line-height: 12px;
		border: none;
		background: none;
	}
	.form__button {
		flex: 0 1 30%;
		height: 55%;
		font-size: 12px;
		border-radius: 10px;
		border: none;
		transition: 0.5s ease;
	}
	.steps {
		width: 92.31%;
		margin: 0 auto;
		top: -58px;

	}
	.steps__header {
		font-size: 14px;
		line-height: 18.52px;
		margin: 0px 0px 20px 0px;
	}
	.steps__tips {
		display: flex;
		margin: 0px 0px 0px 0px;
		height: fit-content;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	.tips__content {
		flex: 1 1 33.333%;
		display: flex;
		flex-direction: column;
		gap: 19px;
	}
	.image-container {
		width: 70px;
		height: 70px;
	}
	.tips__icon {
		width: 35px;
	}
	.tips__text {
		font-size: 10px;
		line-height: 12px;
		text-align: center;
	}
	.steps__tips--first .tips__text {
		text-align: left;
		display: block;
		width: 92px;
	}
	.steps__tips--first .image-container {
		align-self: flex-start;
	}
	.steps__tips--third .tips__text {
		text-align: right;
	}
	.steps__tips--third .image-container {
		align-self: flex-end;
	}
	.steps__tips--third .tips__icon {
		width: 40px;
	}
	.destinations {
		width: 92.31%;
		margin: 0 auto;
		top: -38px;
	}
	.destination__header {
		font-size: 14px;
		line-height: 19px;
	}
	.slider-hider {
		width: 100%;
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}
	.destinations__slider {
		width: 300%;
		margin-top: 6.2%;
		display: flex;
		gap: 0;
		align-items: center;
	}
	.slider {
		position: relative;
		min-width: 100%;
	}
	.slider__image {
		border-radius: 16px;
		width: 100%;
	}
	.slider__text {
		top: 8px;
		left: 15px;
		font-size: 20px;
		line-height: 26px;
	}
	
	.slider__radio {
		width: 36px;
		height: 8px;
		gap: 6px;
		position: relative;
		top: -20px;
	}
	.label {
		width: 8px;
		height: 8px;
	}
	.slider-leftbar,
	.slider-rightbar {
		display: flex;
		width: 37px;
		height: 210px;
		position: absolute;
		align-items: center;
		justify-content: center;
	}
	.slider-rightbar {
		right: 0;
	}
	.button {
		display: block;
		width: 92px;
		height: 30px;
		background: #0D606F;
		box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
		border-radius: 10px;
		text-align: center;
		font-family: RedHatText, sans-serif;
		font-size: 11px;
		line-height: 30px;
		color: #FFFFFF;
		text-decoration: none;
		position: relative;
		top: 0.3em;
		padding: 0 0 0 15px;
		margin: 0 auto;
		border: none;
		transition: 0.5s ease;
	}
	.button:hover.button:before {
		content: '';
		display: inline-block;
		background: url(../ico/arrow-color.png) center/100% no-repeat;
		height: 5.63px;
		width: 8.65px;
	}
	.button::before {
		content: '';
		background: url(../ico/arrow.svg) center/100% no-repeat;
		position: absolute;
		height: 5.63px;
		width: 8.65px;
		top: 12.19px;
		left: 12.63px;
		transition: 0.3s ease;
	}
	.stories {
		width: 100%;
		height: 657px;
		margin: -16px auto 0;
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
					url(../img/bottom-background-mobile.jpg);
		background-size: 100% 105%;
		background-position: 0px 30px;
	}
	.stories__header {
		font-size: 14px;
		line-height: 18.52px;
	}
	.stories__all {
		width: 92.31%;
		gap: 15px;
		margin-top: 1.5em;
	}
	.storycard {
		gap: 2.77%;
	}
	.storycard__img {
		max-height: 130px;
	}
	.storycard__text--main {
		margin: 5px 0 10px 0;
		font-weight: bold;
		display: inline-block;
		font-size: 11px;
		line-height: 13.2px;
		max-height: 15px;
		white-space: normal;
		overflow: hidden;
	}
	.storycard__text--basic {
		margin: 0;
		font-size: 9px;
		line-height: 10.8px;
		max-height: 85px;
		overflow: hidden;
	}
	.storycard__text--basic ~ a:visited,
	.storycard__text--basic ~ a {
		margin: 0 0 0 0;
		font-size: 9px;
		line-height: 11px;
	}
	.story-button {
		transform: translateY(18%);
	}
	.footer-container {
		min-height: 65px;
		width: 100%
	}
	.footer {
		height: 65px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../img/bottom-background-mobile.jpg) center bottom/100%;
		padding: 0 0 0 0;	
	}
	.left {
		display: none;
	}
	.right {
		transform: translateX(5%);
	}
	.footer__text {
		display: none;
	}
}

/* Стили для расширений до 390 пикселей */
@media (max-width: 390px) {
	body {
		max-width: 100%;
	}
	body._lock {
		overflow: hidden;
	}
	.body-filter {
		width: 100%;
		height: 1400px;
		position: absolute;
		z-index: 3;
		background: rgba(0, 0, 0, 0.5);
		display: none;
	}
	.header {
		display: none;
	}
	.header--mobile {
		display: block;
		width: 100%;
		position: relative;
		z-index: 2;
		overflow: hidden;
	}
	.status-bar {
		width: 100%;
		height: 44px;
	}
	.icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: no-repeat center/100% url('../ico/favicon.svg');
		transform: translateX(16px);
	}
	.burger__icon {
		display: inline-block;
		width: 30px;
		height: 30px;
		background: no-repeat center/100% url('../ico/burger.svg');
		position: relative;
		left: 78%;
		cursor: pointer;
	}
	.burger__menu {
		display: block;
		width: 42.31%;
		min-width: 165px;
		height: 250px;
		background: #F2785C;
		padding: 44px 15px 30px 44px;
		box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
		border-radius: 10px;
		position: fixed;
		z-index: 5;	
		top: 0;
		right: -100%;
		transition: right 0.7s ease 0s;
	}
	.body-filter._active {
		display: block;
	}
	.burger__menu._active {
		right: 0;
	}
	.burger__list::before {
		content: '';
		background: url('../ico/close-menu.svg');
		display: inline-block;
		position: absolute;
		width: 15px;
		height: 15px;
		top: 15px;
		left: 15px;
	}
	.burger__item {
		margin-bottom: 10px;
	}
	.burger__item:hover {
		text-decoration: underline;
	}
	.burger__link {
		font-family: RedHatText, sans-serif;
		font-style: normal;
		font-size: 16px;
		line-height: 21px;
		color: #FFFFFF;
	}
	.prewiev {
		height: 251px;
		background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 25.1%), 0 0/100% url('../img/top-background-mobile.jpg') no-repeat;
		transform: translateY(-77px);
	}
	.prewiev__container {
		position: relative;
		top: 140px;
		left: 15px;
		width: 92.3%;
		height: 48px;
	}
	.prewiev__header {
		display: none;
	}
	.prewiev__text {
		display: none;
	}
	.form {
		width: 100%;
		height: 100%;
	}
	.form__search {
		margin: 5px 0 0 4.59%;
		font-size: 14px;
		line-height: 17px;
	}
	.form__button {
		flex: 0 1 25.56%;
		height: 62.1%;
		font-size: 11px;
		line-height: 15px;
	}
	.steps {
		width: 92.31%;
		margin: 0 auto;
		top: -58px;

	}
	.steps__header {
		font-size: 14px;
		line-height: 18.52px;
		margin: 0px 0px 20px 0px;
	}
	.steps__tips {
		display: flex;
		margin: 0px 0px 0px 0px;
		height: fit-content;
		justify-content: space-between;
		flex-wrap: nowrap;
	}
	.tips__content {
		flex: 1 1 33.333%;
		display: flex;
		flex-direction: column;
		gap: 19px;
	}
	.image-container {
		width: 70px;
		height: 70px;
	}
	.tips__icon {
		width: 35px;
	}
	.tips__text {
		font-size: 10px;
		line-height: 12px;
		text-align: center;
	}
	.steps__tips--first .tips__text {
		text-align: left;
		display: block;
		width: 92px;
	}
	.steps__tips--first .image-container {
		align-self: flex-start;
	}
	.steps__tips--third .tips__text {
		text-align: right;
	}
	.steps__tips--third .image-container {
		align-self: flex-end;
	}
	.steps__tips--third .tips__icon {
		width: 40px;
	}
	.destinations {
		width: 92.31%;
		margin: 0 auto;
		top: -38px;
	}
	.destination__header {
		font-size: 14px;
		line-height: 19px;
	}
	.slider-hider {
		width: 100%;
		display: flex;
		flex-direction: row;
		overflow: hidden;
	}
	.destinations__slider {
		width: 300%;
		margin-top: 6.2%;
		display: flex;
		gap: 0;
		align-items: center;
	}
	.slider {
		position: relative;
		min-width: 100%;
	}
	.slider__image {
		border-radius: 16px;
		width: 100%;
	}
	.slider__text {
		top: 8px;
		left: 15px;
		font-size: 20px;
		line-height: 26px;
	}
	
	.slider__radio {
		width: 36px;
		height: 8px;
		gap: 6px;
		position: relative;
		top: -20px;
	}
	.label {
		width: 8px;
		height: 8px;
	}
	.slider-leftbar,
	.slider-rightbar {
		display: flex;
		width: 37px;
		height: 210px;
		position: absolute;
		align-items: center;
		justify-content: center;
	}
	.slider-rightbar {
		right: 0;
	}
	.button {
		display: block;
		width: 92px;
		height: 30px;
		background: #0D606F;
		box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
		border-radius: 10px;
		text-align: center;
		font-family: RedHatText, sans-serif;
		font-size: 11px;
		line-height: 30px;
		color: #FFFFFF;
		text-decoration: none;
		position: relative;
		top: 0.3em;
		padding: 0 0 0 15px;
		margin: 0 auto;
		border: none;
		transition: 0.5s ease;
	}
	.button:hover.button:before {
		content: '';
		display: inline-block;
		background: url(../ico/arrow-color.png) center/100% no-repeat;
		height: 5.63px;
		width: 8.65px;
	}
	.button::before {
		content: '';
		background: url(../ico/arrow.svg) center/100% no-repeat;
		position: absolute;
		height: 5.63px;
		width: 8.65px;
		top: 12.19px;
		left: 12.63px;
		transition: 0.3s ease;
	}
	.stories {
		width: 100%;
		height: 657px;
		margin: -16px auto 0;
		background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
					url(../img/bottom-background-mobile.jpg);
		background-size: 100% 105%;
		background-position: 0px 30px;
	}
	.stories__header {
		font-size: 14px;
		line-height: 18.52px;
	}
	.stories__all {
		width: 92.31%;
		gap: 15px;
		margin-top: 1.5em;
	}
	.storycard {
		gap: 2.77%;
	}
	.storycard__img {
		max-height: 130px;
	}
	.storycard__text--main {
		margin: 5px 0 10px 0;
		font-weight: bold;
		display: inline-block;
		font-size: 11px;
		line-height: 13.2px;
		max-height: 15px;
		white-space: normal;
		overflow: hidden;
	}
	.storycard__text--basic {
		margin: 0;
		font-size: 9px;
		line-height: 10.8px;
		max-height: 85px;
		overflow: hidden;
	}
	.storycard__text--basic ~ a:visited,
	.storycard__text--basic ~ a {
		margin: 0 0 0 0;
		font-size: 9px;
		line-height: 11px;
	}
	.story-button {
		transform: translateY(18%);
	}
	.footer-container {
		min-height: 65px;
		width: 100%
	}
	.footer {
		height: 65px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../img/bottom-background-mobile.jpg) center bottom/100%;
		padding: 0 0 0 0;	
	}
	.left {
		display: none;
	}
	.right {
		transform: translateX(5%);
	}
	.footer__text {
		display: none;
	}
}